<h1>Score Board</h1>

<table class="table table-striped table-bordered">
  <tr>
    <th>Team Name</th>
    <th>Score</th>
  </tr>

<% @teams.each do |team| %>
  <tr>
    <td><%= team.name %></td>
    <td><%= team.score %></td>
  </tr>
<% end %>
</table>

<br />