<%= link_to "Scoreboard", 'scoreboard', :class => 'brand' %>
<ul class="nav">
	<li>
    	<%= link_to('New Team', 'newteam') %>        
    </li>
    <li>
    	<%= link_to('Forgot Pin', 'forgotpin') %>        
    </li>
</ul>