<h1>Guide to the Competition</h1>
<ol>

<li>Install Eclipse and Android. See the <a href="http://courses.engr.illinois.edu/cs125/files/vb/">CS125 page</a> for details. Note that you won't need subversion for this.</li>
<li>Download the project <%= link_to "Here", "cipher-scavenger-hunt-android.zip" %>. In Eclipse Right Click in the project list area -> Import -> "Existing Projects into Workspace". Select Archive File and browse to the actual .zip of the project.</li>
<li>Go forth and code all the things</li>

</ol>