<h1>Guide to the Competition</h1>

<ol>
<li>First off, on this website click on the "New Team" option. Select one of your team members to be the "Captain" and use his/her netid. Choose a team name, and 2 secret messages. After successfully creating your team, you will see a screen with a 4 digit pin, be sure to copy this pin down. Your team should now show up on the leaderboard!</li>
<li>Install Eclipse and Android. See the <a href="http://courses.engr.illinois.edu/cs125/files/vb/">CS125 page</a> for details. Note that you won't need subversion for this.</li>
<li>Download the project <%= link_to "Here", "cipher-scavenger-hunt-android.zip" %>. In Eclipse Right Click in the project list area -> Import -> "Existing Projects into Workspace". Select Archive File and browse to the actual .zip of the project.</li>
<li>Install the app onto the phone. To do this, ensure that the phone is plugged into the machine and has USB debugging turned on (<a href="http://developer.android.com/tools/device.html#setting-up">See step 2</a>). Right click on the project name in eclipse and Run as -> Android Application.</li>
<li>On first launch the application should take you to the preferences screen. Enter the captains netid, and also the 4 digit pin you copied down earlier. If you lost the pin, you should be able to recover it <%= link_to "Here", "forgotpin" %>. You can now go back and by selecting "View Your Message" it should take you to a screen that shows a QR code. If it says there is a 401 Error, then something has gone wrong with your authentication, so verify that you entered the netid and pin properly.</li>
<li>Solve level 1 encoding</li>
<li>Solve level 2 encoding</li>
<li>Solve level 3 encoding</li>
<li>Now go trade with other teams!</li>
</ol>